<div class="align-items-center mt-3 mb-3">
  <h2 class="my-3">Users</h2>
  <% if (loggedIn && currentUser.isAdmin) { %>
  <div class="my-3">
    <a class="btn btn-secondary" href="/users/new">Create User</a>
  </div>
  <% } %>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Email</th>
        <th>Mobile</th>
        <th>Zip Code</th>
        <% if (loggedIn && currentUser.isAdmin) { %>
        <th>Edit</th>
        <th>Delete</th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% users.forEach(user => { %>
      <tr>
        <td>
          <a href="<%=`/users/${user._id}`%>">
            <%= user.fullName %>
          </a>
        </td>
        <td>
          <%= user.email %>
        </td>
        <td>
          <%= user.mobileNum %>
        </td>
        <td>
          <%= user.zipCode %>
        </td>
        <% if (loggedIn && currentUser.isAdmin) { %>
        <td>
          <a href="<%=`/users/${user._id}/edit`%>">
            Edit
          </a>
        </td>
        <td>
          <a
            href="<%=`/users/${user._id}/delete?_method=DELETE` %>"
            onclick="return confirm('Are you sure you want to delete this record?')"
            a
            >Delete</a
          >
        </td>
        <% } %>
      </tr>
      <% }); %>
    </tbody>
  </table>
</div>
