<div class="row align-items-center mt-3">
  <div class="container">
    <h1 class="center">User Data for <%= user.fullName %></h1>
    <table class="table">
      <tr>
        <th>Name</th>
        <td>
          <%= user.fullName %>
        </td>
      </tr>
      <tr>
        <th>Email</th>
        <td>
          <%= user.email%>
        </td>
      </tr>
      <tr>
        <th>Mobile</th>
        <td>
          <%= user.mobileNum%>
        </td>
      </tr>
      <tr>
        <th>Password</th>
        <td>********</td>
      </tr>
    </table>
    <h4>
      Courses Enrolled
    </h4>
    <div class="row my-3 pt-3">
      <% user.courses.forEach(course => { %>
      <div class="col-lg-4 mb-3">
        <div class="card">
          <!-- <a
            href="#"
            onclick="return confirm('Are you sure you want to remove this course?')"
            ><i class="fa fa-times remove-enrolled_course"></i
          ></a> -->
          <img
            class="card-img-top"
            src="<%= course.image %> "
            alt="Card image cap"
          />
          <div class="card-body">
            <h5 class="card-title">
              <a href="/courses/<%= course._id %>"><%= course.title %> </a>
            </h5>
            <p class="card-text"><%= course.description.slice(0, 150) %> ...</p>
          </div>
        </div>
      </div>
      <% }) %>
    </div>
  </div>
</div>
<div class="row mt-3 mb-3">
  <% if (loggedIn) { %>
  <div class="col-md-4 mb-3">
    <div>
      <a class="btn btn-warning w-100" href="<%=`/users/${user._id}/edit`%>">
        Edit User Details
      </a>
    </div>
  </div>
  <div class="col-md-4 mb-3">
    <div>
      <a
        class="btn btn-danger w-100"
        href="<%= `/users/${user._id}/delete?_method=DELETE` %>"
        onclick="return confirm('Are you sure you want to delete your account?')"
        a
        >Delete Account</a
      >
    </div>
  </div>
  <% } %>
  <div class="col-md-4 mb-3">
    <div>
      <a class="btn btn-success w-100" href="/courses">Browse Courses</a>
    </div>
  </div>
</div>
