<!DOCTYPE html>
<html>
  <%- include("../partials/_head") %>
  <body>
    <%- include("../partials/_navigation") %>

    <div class="container">
      <h1><%= user.name.firstName %>'s Profile</h1>
      <table class="table">
        <tr>
          <th>Full Name</th>
          <td><%= user.fullName %></td>
        </tr>
        <tr>
          <th>Email</th>
          <td><%= user.email %></td>
        </tr>
        <tr>
          <th>Mobile</th>
          <td><%= user.telNumber %></td>
        </tr>
        <tr>
          <th>Password</th>
          <td>**********</td>
        </tr>
      </table>
      <div class="row">
        <div class="col-sm-6">
          <% if(user.subscribedAccount) { %>
          <div>
            <a class="btn btn-success mb-2 w-100" href="<%= `/subscribers` %>">
              Subscribed
            </a>
          </div>
          <% } %>
          <div>
            <a class="btn btn-primary mb-2 w-100" href="/users"
              >View All Users</a
            >
          </div>
        </div>
        <div class="col-sm-6">
          <div>
            <a
              class="btn btn-warning mb-2 w-100"
              href="<%= `/users/${user._id}/edit` %>"
              >Edit User Details</a
            >
          </div>
          <div>
            <a
              class="btn btn-danger mb-2 w-100"
              href="<%= `/users/${user._id}/delete?_method=DELETE` %>"
              onclick="return confirm('Delete this user?')"
              >Delete This User</a
            >
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
